@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
}

.container {
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    height: 100vh;
}

.card-main {
    width: 100%;
    background-color: hsl(213, 19%, 18%);
    padding: 35px;
    border-radius: 15px;
}

img.icon-star {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: hsl(213, 17%, 23%);
}

img.thank-you {
    width: 45%;
    padding: 20px 0;
}

.card-main h2{
    color: #fff;
    padding: 20px 0 10px 0;
}

.card-main span{
    color: hsl(217, 12%, 63%);
    font-size: 0.8rem;;
}

.card-main ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 25px 0;
}

.card-main ul li button{
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 17%, 23%);
    border: none;
    transition: 0.3s;
}

.card-main ul li button:hover{
    color: hsl(25, 97%, 53%);
    background-color: #fff;
    border: none;
}

.card-main ul li button:focus{
    color: hsl(216, 12%, 8%);
    background-color: hsl(217, 12%, 63%);
    border: none;
}

.submit{
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    border: none;
    border-radius: 38px;
    padding: 15px 0;
    font-size: 0.9rem;
    letter-spacing: 4px;
    font-weight: 700;
    transition: 0.3s;
    text-transform: uppercase;
}

.submit:hover{
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

.selected{
    width: 100%;
    background-color: hsl(213, 17%, 23%);
    color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 38px;
    padding: 8px 0;
    font-size: 0.9rem;
}

.rate-selected{
    color: hsl(25, 97%, 53%)!important;
    font-size: 0.9rem !important;
}

.card-thanks {
    width: 100%;
    background-color: hsl(213, 19%, 18%);
    padding: 35px;
    border-radius: 15px;
    text-align: center;
}

.card-thanks h2{
    color: #fff;
    padding: 20px 0 10px 0;
}

.card-thanks span{
    color: hsl(217, 12%, 63%);
    font-size: 0.8rem;;
}

.card-thanks ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 25px 0;
}

.card-thanks ul li button{
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 17%, 23%);
    border: none;
    transition: 0.3s;
}

.card-thanks ul li button:hover{
    color: hsl(25, 97%, 53%);
    background-color: #fff;
    border: none;
}

.card-thanks ul li button:focus{
    color: hsl(216, 12%, 8%);
    background-color: hsl(217, 12%, 63%);
    border: none;
}

.rate-again{
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    border: none;
    border-radius: 38px;
    margin-top: 2rem;
    padding: 15px 0 12px;
    font-size: 0.9rem;
    letter-spacing: 4px;
    font-weight: 700;
    transition: 0.3s;
    text-transform: uppercase;
}

.rate-again:hover{
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

.hidden {
    display: none;
}

/*
- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)
*/